<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>demoFarm</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>insertData</display-name>
    <servlet-name>insertData</servlet-name>
    <servlet-class>com.project.controller.insertData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertData</servlet-name>
    <url-pattern>/insertData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>caretakers</display-name>
    <servlet-name>caretakers</servlet-name>
    <servlet-class>com.project.controller.caretakers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>caretakers</servlet-name>
    <url-pattern>/caretakers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>animal</display-name>
    <servlet-name>animal</servlet-name>
    <servlet-class>com.project.controller.animal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>animal</servlet-name>
    <url-pattern>/animal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pageController</display-name>
    <servlet-name>pageController</servlet-name>
    <servlet-class>com.project.controller.pageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pageController</servlet-name>
    <url-pattern>/pageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sell</display-name>
    <servlet-name>sell</servlet-name>
    <servlet-class>com.project.controller.sell</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sell</servlet-name>
    <url-pattern>/sell</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>milkController</display-name>
    <servlet-name>milkController</servlet-name>
    <servlet-class>com.project.controller.milkController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>milkController</servlet-name>
    <url-pattern>/milkController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>heatphase</display-name>
    <servlet-name>heatphase</servlet-name>
    <servlet-class>com.project.controller.heatphase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>heatphase</servlet-name>
    <url-pattern>/heatphase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>washControl</display-name>
    <servlet-name>washControl</servlet-name>
    <servlet-class>com.project.controller.washControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>washControl</servlet-name>
    <url-pattern>/washControl</url-pattern>
  </servlet-mapping>
</web-app>